
<nav class="navbar navbar-default navbar-inverse grayNavbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">VidPlatform</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <btn class="dropdown-toggle btn btn-primary pull-right" data-toggle="dropdown"><b>Sign In</b> </btn>
			<ul id="login-dp" class="dropdown-menu fade" >
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<a style="width:100%;" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
								</div>
                                or
								 <form method="post" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" name="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" name="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a>Forgot the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit"  class="btn btn-primary btn-block" id="loginSubmitBtn">Login</button>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a data-toggle="modal" data-target="#signUpModal" name="signUpBtn" id="signUpBtn"><b>Join Us</b></a>
							</div>    
                       
					 </div>
				</li>
			</ul>
        </li>
      </ul>
      <div id="signUpModal" class="modal fade">
      <div class="col-xs-6">
        <div id="logbox">
            <form id="signUpForm" method="post">
                <h1>Create an Account</h1>
                <input id="email" name="email" type="email" placeholder="Email address" class="input pass"/>
                <input id="password" name="password" type="password" placeholder="Choose a password" required="required" class="input pass"/>
                <input id="password2" name="password2" type="password" placeholder="Confirm password" required="required" class="input pass"/>
                <div class="widthMax btn-group">
                  <button type="submit" class="btn btn-primary pull-left">Sign me up!</button>
                  <button data-dismiss="modal" class="btn btn-warning pull-right">Close</button>
                </div>
            </form>
        </div>
    </div>
</div> 
    </div>
  </div>
  
</nav>

<video style="width: 100%;" style="height: 100%;" controls>
  <source src="example.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> 